//Variables
$gray: #F7F7F7
$background-light: #fdfdfd
$background-dark: #202020
$para-font-size: 1.36vw
$title-font-size: 4.5vw


//Base Styles
*
    margin: 0
    padding: 0 
    font-size: 62.5%
    overflow-x: hidden
    font-family: 'Montserrat', sans-serif
    font-weight: 300

section.whoWeAre, section.howWeDoIt, section.howWeGotHere
    display: flex
    width: 100%
    padding-top: 1%


body
    background-color: white
    color: darken($gray, 75% )
    width: 100%
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center

//How Do It Mobile-First Styles
section.howWeDoIt, section.whoWeAre, section.whatsNEXT, section.howWeGotHere
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center


div.greenhouse-staff-pics
    display: flex
    flex-direction: column
    justify-content: space-around
    padding-bottom: 7%
    div.staff-pics-row
        padding-bottom: 5%
        align-content: center
        display: flex
        max-width: 1024px
        img
            width: 25%

// HOW WE DO IT STYLES
// Base Box Styles       
div.box
    display: flex
    width: 90%
    max-width: 1024px
    justify-content: space-between

    padding: 3rem 0
    @media screen and ( min-width: 725px )
        padding: 6rem 0
    @media screen and ( min-width: 1024px )
        padding: 10rem 0
div.para
    display: flex
    flex-direction: row
    width: 95%
    flex-wrap: wrap
    padding-bottom: 2rem
    p
        font-size: .7rem
        @media screen and ( min-width: 725px )
            font-size: 1.3rem
        @media screen and ( min-width: 1024px )
            font-size: 1.7rem
    span.num
        padding-right: .5rem
        font-size: 1rem
        font-weight: 700
        @media screen and ( min-width: 725px )
            font-size: 2rem
        @media screen and ( min-width: 1024px )
            font-size: 2.5rem

   
    
div.bold-para
    padding-bottom: 2rem
    p
        font-weight: 700
        font-size: 1.3rem
        @media screen and ( min-width: 725px )
            font-size: 2rem
        @media screen and ( min-width: 1024px )
            font-size: 2rem
div.wrap
    background-color: $gray
    width: 100vw
    display: flex
    justify-content: center
    padding-top: 3rem
    margin-bottom: 2rem
div.header-txt
    font-size: 1rem
    font-weight: 700
    width: fit-content
    color: black
    display: inline-block
    @media screen and ( min-width: 725px )
        font-size: 2rem
    @media screen and ( min-width: 1024px )
        font-size: 2.5rem
    div.line
        width: 100%
        background-color: black
        height: .4rem
        @media screen and ( min-width: 1024px )
            height: .5rem
div.header-txt-alt
    font-size: 1rem
    font-weight: 700
    width: fit-content
    color: white
    display: inline-block
    @media screen and ( min-width: 725px )
        font-size: 2rem
    @media screen and ( min-width: 1024px )
        font-size: 2.5rem
    div.line-alt
        width: 100%
        background-color: white
        height: .4rem
        @media screen and ( min-width: 1024px )
            height: .5rem

// Specific Box Styles
div.box-1
    div.section-header
        width: fit-content
        margin: 0 .2rem 
        flex-basis: 30%   
    div.info
        flex-basis: 70%
        display: flex
        justify-content: flex-start
        flex-direction: column
        @media screen and ( min-width: 425px )
            flex-basis: 60%
        h1.head-txt
            font-size: 2rem
            font-weight: 700
            color: black
            padding-bottom: 5rem
            @media screen and ( min-width: 725px )
                font-size: 4.5rem
            @media screen and ( min-width: 1024px )
                font-size: 5.5rem
        p
            line-height: 150%
            @media screen and ( min-width: 725px )
                font-size: 2rem
            @media screen and ( min-width: 1024px )
                font-size: 2rem
        strong  
            @media screen and ( min-width: 725px )
                font-size: 2rem
            @media screen and ( min-width: 1024px )
                font-size: 2rem

  
 
div.box-2
    flex-wrap: wrap
    justify-content: center
    div.para     
        display: flex
        justify-content: center
    div.num-para
        flex-basis: 100%
        span.num
            width: 1rem
    div.img-box
        display: flex
        width: 100% 
        // position: absolute
        z-index: 200
        img
            width: 30%
            margin: 1rem
            box-shadow: 2px 4px 4px 3px darken($gray, 15% )
           
div.box-3
    flex-direction: column
    div.para
        width: 70%
    div.img-box
        width: 100%
        padding: 2rem 0
        img
            width: 100%
    div.right
        width: 100%
        display: flex
        justify-content: flex-end
        p
            width: 70%
div.after
    display: flex
    justify-content: center
    width: 100%
div.box-4
    flex-direction: column

//HOW WE GOT HERE SECTION

section.howWeGotHere
    color: white
    background-color: $background-dark
    p
        line-height: 150%
div.box-5
    display: flex
    flex-direction: column
    div.section-header-alt
        width: fit-content
        margin: 0 .2rem    
    div.info-alt
        flex-basis: 100%
        display: flex
        flex-flow: row wrap
        @media screen and ( min-width: 425px )
            flex-basis: 70%
        h1.head-txt-alt
            font-size: 5rem
            font-weight: 700
            padding: 5rem 0
            line-height: 150%
            @media screen and ( min-width: 725px )
                font-size: 6rem
            @media screen and ( min-width: 1024px )
                font-size: 8.5rem   
    div.row
        display: flex
        height: 60%
        width: 100%
        flex-flow: row wrap
        justify-content: center
        padding-bottom: 1rem
        div.column
            display: flex
            flex-direction: column
            flex-basis: 33%
            div.para
                p
                    margin: 1rem 0
                @media screen and ( min-width: 725px )
                    font-size: 1.5rem
                @media screen and ( min-width: 1024px )
                    font-size: 1.5rem 
                img
                    height: 33%
                    width: 100%
                span.bold
                    margin: 2rem 0
                    font-weight: 700
                    @media screen and ( min-width: 725px )
                        font-size: 1.5rem
                    @media screen and ( min-width: 1024px )
                        font-size: 1.5rem   
                    
            div.img-box
                
                img
                    width: 100%
                    margin: .5rem 0
                    @media screen and ( min-width: 725px )
                        height: 80%
                    @media screen and ( min-width: 1024px )
                        height: 95%
                
        
                
                    
            
                


        
// WHATS NEXT 

section.whatsNEXT
    div.wrap
        background-color: $background-dark 

div.reach-out
    display: flex
    // flex-direction: column
    flex-wrap: wrap
    div.header-txt
        color: white    
        display: inline-block  
    div.line
        background-color: white      
    div.img-box
        // width: 80%
        flex-basis: 100%
        display: flex
        justify-content: center
        padding: 3rem 0
        img
            width: 90%
    div.para
        flex-basis: 45%
        p
            color: white
        @media screen and ( min-width: 725px )
            font-size: 2rem
        @media screen and ( min-width: 1024px )
            font-size: 2rem
        span.bold
            font-weight: 700
            font-size: .7rem
            @media screen and ( min-width: 725px )
                font-size: 2rem
            @media screen and ( min-width: 1024px )
                font-size: 2rem

