* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

section.whoWeAre, section.howWeDoIt, section.howWeGotHere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 1%;
}

body {
  background-color: white;
  color: #383838;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.howWeDoIt, section.whoWeAre, section.whatsNEXT, section.howWeGotHere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.greenhouse-staff-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 7%;
}

div.greenhouse-staff-pics div.staff-pics-row {
  padding-bottom: 5%;
  -ms-flex-line-pack: center;
      align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1024px;
}

div.greenhouse-staff-pics div.staff-pics-row img {
  width: 25%;
}

div.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1024px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3rem 0;
}

@media screen and (min-width: 725px) {
  div.box {
    padding: 6rem 0;
  }
}

@media screen and (min-width: 1024px) {
  div.box {
    padding: 10rem 0;
  }
}

div.para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 95%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 2rem;
}

div.para p {
  font-size: .7rem;
}

@media screen and (min-width: 725px) {
  div.para p {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1024px) {
  div.para p {
    font-size: 1.7rem;
  }
}

div.para span.num {
  padding-right: .5rem;
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (min-width: 725px) {
  div.para span.num {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  div.para span.num {
    font-size: 2.5rem;
  }
}

div.bold-para {
  padding-bottom: 2rem;
}

div.bold-para p {
  font-weight: 700;
  font-size: 1.3rem;
}

@media screen and (min-width: 725px) {
  div.bold-para p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  div.bold-para p {
    font-size: 2rem;
  }
}

div.wrap {
  background-color: #F7F7F7;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
}

div.header-txt {
  font-size: 1rem;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: black;
  display: inline-block;
}

@media screen and (min-width: 725px) {
  div.header-txt {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  div.header-txt {
    font-size: 2.5rem;
  }
}

div.header-txt div.line {
  width: 100%;
  background-color: black;
  height: .4rem;
}

@media screen and (min-width: 1024px) {
  div.header-txt div.line {
    height: .5rem;
  }
}

div.header-txt-alt {
  font-size: 1rem;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  display: inline-block;
}

@media screen and (min-width: 725px) {
  div.header-txt-alt {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  div.header-txt-alt {
    font-size: 2.5rem;
  }
}

div.header-txt-alt div.line-alt {
  width: 100%;
  background-color: white;
  height: .4rem;
}

@media screen and (min-width: 1024px) {
  div.header-txt-alt div.line-alt {
    height: .5rem;
  }
}

div.box-1 div.section-header {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 .2rem;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

div.box-1 div.info {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 425px) {
  div.box-1 div.info {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}

div.box-1 div.info h1.head-txt {
  font-size: 2rem;
  font-weight: 700;
  color: black;
  padding-bottom: 5rem;
}

@media screen and (min-width: 725px) {
  div.box-1 div.info h1.head-txt {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1024px) {
  div.box-1 div.info h1.head-txt {
    font-size: 5.5rem;
  }
}

div.box-1 div.info p {
  line-height: 150%;
}

@media screen and (min-width: 725px) {
  div.box-1 div.info p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  div.box-1 div.info p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 725px) {
  div.box-1 div.info strong {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  div.box-1 div.info strong {
    font-size: 2rem;
  }
}

div.box-2 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.box-2 div.para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.box-2 div.num-para {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

div.box-2 div.num-para span.num {
  width: 1rem;
}

div.box-2 div.img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: 200;
}

div.box-2 div.img-box img {
  width: 30%;
  margin: 1rem;
  -webkit-box-shadow: 2px 4px 4px 3px #d1d1d1;
          box-shadow: 2px 4px 4px 3px #d1d1d1;
}

@media screen and (min-width: 725px) {
  div.box-2 div.img-box img {
    -webkit-box-shadow: 2px 4px 6px 3px #d1d1d1;
            box-shadow: 2px 4px 6px 3px #d1d1d1;
  }
}

div.box-3 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.box-3 div.para {
  width: 70%;
}

div.box-3 div.img-box {
  width: 100%;
  padding: 2rem 0;
}

div.box-3 div.img-box img {
  width: 100%;
}

div.box-3 div.right {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

div.box-3 div.right p {
  width: 70%;
}

div.after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

div.box-4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.howWeGotHere {
  color: white;
  background-color: #202020;
}

section.howWeGotHere p {
  line-height: 150%;
}

div.box-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.box-5 div.section-header-alt {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 .2rem;
}

div.box-5 div.info-alt {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media screen and (min-width: 425px) {
  div.box-5 div.info-alt {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
}

div.box-5 div.info-alt h1.head-txt-alt {
  font-size: 5rem;
  font-weight: 700;
  padding: 5rem 0;
  line-height: 150%;
}

@media screen and (min-width: 725px) {
  div.box-5 div.info-alt h1.head-txt-alt {
    font-size: 6rem;
  }
}

@media screen and (min-width: 1024px) {
  div.box-5 div.info-alt h1.head-txt-alt {
    font-size: 8.5rem;
  }
}

div.box-5 div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 1rem;
}

div.box-5 div.row div.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

div.box-5 div.row div.column div.para p {
  margin: 1rem 0;
}

@media screen and (min-width: 725px) {
  div.box-5 div.row div.column div.para {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  div.box-5 div.row div.column div.para {
    font-size: 1.5rem;
  }
}

div.box-5 div.row div.column div.para img {
  height: 33%;
  width: 100%;
}

div.box-5 div.row div.column div.para span.bold {
  margin: 2rem 0;
  font-weight: 700;
}

@media screen and (min-width: 725px) {
  div.box-5 div.row div.column div.para span.bold {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  div.box-5 div.row div.column div.para span.bold {
    font-size: 1.5rem;
  }
}

div.box-5 div.row div.column div.img-box img {
  width: 100%;
  margin: .5rem 0;
}

@media screen and (min-width: 725px) {
  div.box-5 div.row div.column div.img-box img {
    height: 80%;
  }
}

@media screen and (min-width: 1024px) {
  div.box-5 div.row div.column div.img-box img {
    height: 95%;
  }
}

section.whatsNEXT div.wrap {
  background-color: #202020;
}

div.reach-out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div.reach-out div.header-txt {
  color: white;
  display: inline-block;
}

div.reach-out div.line {
  background-color: white;
}

div.reach-out div.img-box {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

div.reach-out div.img-box img {
  width: 90%;
}

div.reach-out div.para {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

div.reach-out div.para p {
  color: white;
}

@media screen and (min-width: 725px) {
  div.reach-out div.para {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  div.reach-out div.para {
    font-size: 2rem;
  }
}

div.reach-out div.para span.bold {
  font-weight: 700;
  font-size: .7rem;
}

@media screen and (min-width: 725px) {
  div.reach-out div.para span.bold {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  div.reach-out div.para span.bold {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */